<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('link'); -%>
</head>
<body>
    <!-- menu login -->
    <%- include('header'); -%>


    <!-- card -->

    
<div class="flex justify-center items-center content-center">
    <div class="w-7/12  rounded-md p-12">
        <a href="/login" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">THANK YOU FOR REGISTERING</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Welcome to WCM Shop, and thank you for registering!  As a registered user, you’ll be able to buy the many type of best quality products, we have here.  But before you get started, you’ll need to Login.... <a href="/login"><button type="button" class="btn btn-primary" style="color: white; margin-top: 10px;">Login</button></a> </p>
        </a>
    </div>
</div>

    




    <%- include('footer'); -%>

    
    
</body>
</html>